rasa_env/
venv/
env/
.venv/


.rasa/
models/


__pycache__/
*.py[cod]
*$py.class
*.so
.Python


dist/
build/
*.egg-info/


.env

.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db

*.pyo
*.pyd


*.log


*.lock



ehthumbs.db
Desktop.ini


*.tar.gz
*.whl


.pytest_cache/


.mypy_cache/

htmlcov/
.coverage
.tox/
.nox/

actions/venv/
.history/
results/
credentials.yml
**/config/**.yml
**/data/nlu/lookup_tables/
out/
.rasa-data/
*.db
*.db-shm
*.db-wal